:root {
    --dark-green: #4A8B70;
    --light-green: #E7F0EC;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(images/background.png);
    margin: 63px 58px;
}

/* header */
h1  {
    font-size: 36px;
}

h2 {
    font-size: 34px;
    font-weight: 500;
}

#intro-paragraph {
    font-size: 22px;
    color: #5C5C5C;
}

.profile-image {
    width: 300px;
    border-radius: 30px;
}

.intro-section {
    background-color: #ffffff;
    width: 857px;
    padding: 59px 69px;
    border-radius: 30px;

}

.header-section {
    display: flex;
    gap: 27px;
    height: 300px;
}

/* proficiency section */

.proficiency-section {
    width: 563px;
    height: 428px;
    background-color: white;
    border-radius: 30px;
    /* padding: 51px 27px 0px 27px; */
    margin: 48px 0px;
    font-weight: 500;
}

.proficiency-container {
    padding: 51px 27px;
}

#proficiency-h2 {
    border: 0px;
    margin: 0px;
}
.levels {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-size: 24px;
    margin: 0px 0px;
}

.technologies {
    font-size: 24px;
    padding: 0px;
    margin: 0px 0px 25px 0px;
    
}

.tech-name {
    padding: 0px;
    margin: 0px 0px 18px 0px;
}

.react{
    margin-bottom: 0px;
}

#HTML, #CSS {
    background-color: var(--dark-green);
    width: 317px;
    height: 26px;
    border-radius: 7px;
    margin-bottom: 30px;
}

#javascript {
   background-color: var(--dark-green);
    width: 80px;
    height: 26px;
    border-radius: 7px; 
    margin-bottom: 30px;
}

#react {
    background-color: var(--dark-green);
    width: 20px;
    height: 26px;
    border-radius: 7px; 
    margin: 0px;
}

.proficiency-levels {
    display: flex;
    gap: 46px;
}

/* skills */

.skill-section {
    width: 706px;
    height: 428px;
    background-color: white;
    border-radius: 30px;
    padding: 41px 28px;
    margin: 48px 0px;
    font-weight: 500;
    padding: 0px
}

.skill-btn {
    background-color: var(--light-green);
    border: none;
    padding: 10px 24px;
    border-radius: 96px;
    font-size: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
    gap: 20px;
}

.proficiency-and-skills {
    display: flex;
    gap: 48px;
}

#skill-h2 {
    padding: 0px;
    margin: 28px 0px 39px 28px;
}

/* Projects section */

.project-section {
    background-color: white;
    border-radius: 30px;
    max-width: 1318px;
    height: auto;
    padding: 0px 33px;
    font-size: 19px;
}

#project-h2 {
    text-align: center;
    padding: 44px 0px 35px 0px;
    border: 0px;
    margin: 0px;
}
.project-h3 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

.project-name {
    padding: 24px 0px;
}

.project-line-one {
    display: flex;
    justify-content: space-between;
    
}

.project-card {
    max-width: 260px;
    height: auto;
    border-radius: 30px;
    background-color: var(--light-green);
    padding: 19px 19px 0px 19px;
    margin-bottom: 44px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 49px;
}

.project-one {
    background-color: var(--dark-green);
    color: white;
}

