:root {
    --dark-green: #4A8B70;
    --light-green: #E7F0EC;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(images/background.png);
    width: 100%;
    margin: 63px 58px;
}

h1  {
    font-size: 36px;
    margin-top: 0px;
}

h2 {
    font-size: 34px;
    font-weight: 500;
}

/* header */

.intro-paragraph {
    font-size: 22px;
    color: #5C5C5C;
    margin: 2px;
}

.profile-image {
    width: 300px;
    border-radius: 30px;
}

.intro-section {
    background-color: #ffffff;
    width: 920px;
    padding: 59px 69px;
    border-radius: 30px;

}

.header-section {
    display: flex;
    gap: 27px;
}

/* proficiency section */

.proficiency-section {
    width: 590px;
    height: 428px;
    background-color: white;
    border-radius: 30px;
    margin: 48px 0px;
    font-weight: 500;
}

.proficiency-container {
    padding: 51px 27px;
}

#proficiency-h2 {
    border: 0px;
    margin: 0px;
}
.levels {
    display: flex;
    justify-content: flex-start;
    gap: 48px;
    font-size: 24px;
    margin: 0px 0px;
}

.technologies {
    font-size: 24px;
    padding: 0px;
    margin: 0px 0px 25px 0px;
    
}

.tech-name {
    padding: 0px;
    margin: 0px 0px 18px 0px;
}

.react{
    margin-bottom: 0px;
}

#HTML, #CSS {
    background-color: var(--dark-green);
    width: 317px;
    height: 26px;
    border-radius: 7px;
    margin-bottom: 30px;
}

#javascript {
   background-color: var(--dark-green);
    width: 80px;
    height: 26px;
    border-radius: 7px; 
    margin-bottom: 30px;
}

#react {
    background-color: var(--dark-green);
    width: 20px;
    height: 26px;
    border-radius: 7px; 
    margin: 0px;
}

.proficiency-levels {
    display: flex;
    gap: 46px;
}

/* skills */

.skill-section {
    width: 738px;
    height: 428px;
    background-color: white;
    border-radius: 30px;
    margin: 48px 0px;
    font-weight: 500;
    padding: 0px
}

.skill-btn {
    background-color: var(--light-green);
    border: none;
    padding: 10px 24px;
    border-radius: 96px;
    font-size: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
}

.proficiency-and-skills {
    display: flex;
    gap: 48px;
}

#skill-h2 {
    padding: 0px;
    margin: 28px 0px 39px 28px;
}

/* Projects section */

.project-section {
    background-color: white;
    border-radius: 30px;
    max-width: 1318px;
    height: auto;
    padding: 0px 33px;
    font-size: 19px;
}

#project-h2 {
    text-align: center;
    padding: 44px 0px 35px 0px;
    border: 0px;
    margin: 0px;
}
.project-h3 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}

.project-name {
    padding: 24px 0px;
}

.project-line-one {
    display: flex;
    justify-content: space-between;
    
}

.project-card {
    max-width: 260px;
    height: auto;
    border-radius: 30px;
    background-color: var(--light-green);
    padding: 19px 19px 0px 19px;
    margin-bottom: 44px;
    transition: transform 0.6s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 49px;
}

.project-one {
    background-color: var(--dark-green);
    color: white;
}

/* education */

.education-section {
    background-color: white;
    max-width: 994px;
    border-radius: 30px;
    padding: 29px;
    margin-top: 48px;
}

#education-h2 {
    padding: 0px;
    margin: 0px 0px 20px 0px;
    font-size: 33px;
    font-weight: 500;
}

.education-h3 {
    font-size: 24px;
}

.education-h3  {
    font-weight: 500;
}
.education-h4 .par {
    font-size: 19px;
}

.education-summary {
    font-size: 19px;
}
.education-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--light-green);
    border-radius: 30px;
    padding: 34px 37px;
    transition: transform 0.6s ease;
}

.education-layout:hover {
    transform: scale(1.04);
}

.education-one {
    background-color: var(--dark-green);
    color: white;
}

.education-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    font-weight: 400;
}

.studies {
    margin: 4px;
}

.par {
    font-size: 19px;
    font-weight: 400;
    color: #3F3D3D;
}

.par-one {
    color: #EBF9F2;
    font-weight: 400;
    font-size: 19px;
}

ul {
    margin: 0px;
}

/* Tools section */

#aside-h2 {
    margin: 0px 0px 32px 0px;
    text-align: center;
    font-size: 33px;
    font-weight: 500;
}
.aside-section {
    background-color: white;
    max-width: 300px;
    padding: 31px 58px 45px 58px;
    border-radius: 30px;
    margin-top: 48px;
}
.tool-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 38px;
    background-color: var(--light-green);
    border-radius: 30px;
    padding: 38px 31px;
    margin-bottom: 30px;

}

.tool-grid {
    position: relative;
}
.tool-btn {
    background-color: black;
    color: white;
    font: 12px;
    font-weight: 500;
    border-radius: 30px;
    padding: 5px 15px;
    position: absolute;
    top: -10px;
    left: 40px;
}

.education-tool-container {
    display: flex;
    gap: 21px;
}

/* experience */

#experience-h2{
    padding: 0px;
    margin: 0px 0px 20px 0px;
    font-size: 33px;
    font-weight: 500;
}

.experience-h3 {
    font-size: 24px;
    font-weight: 500;
}

.experience-h4 {
    font-size: 19px;
    font-weight: 500;
}

.par-info {
    font-size: 19px;
    font-weight: 400;
    color: #3F3D3D;
}

.info-one {
    color: #EBF9F2;
}

.experience-section {
    background-color: white;
    border: 30px;
    padding: 32px 27px;
    margin-top: 48px;
    max-width: 1316px;
    border-radius: 30px;
    
}

.experience-flex {
    display: flex;
}

.experience-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--light-green);
    border-radius: 30px;
    padding: 19px 14px 26px 25px;
    transition: transform 0.6s ease;
}

.experience-layout:hover{
    transform: scale(1.03);
}

.experience-one {
    background-color: var(--dark-green);
    color: white;
}

.experience-grid {
    display: grid;
    grid-template-rows: repeat(3 auto);
    gap: 20px;
    
}

.info {
margin: 4px;
}

.recent-btn {
    width: 123px;
    padding: 8px 16px;
    background-color: #D76239;
    color: white;
    border: none;
    border-radius: 142px;
    font-size: 14px;
    font-weight: 500;
    margin: 0px 16px;
}

/* Footer */

.footer-section{
    background-color: #D76239;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 29px;
    max-width: 1322px;
    margin-top: 48px;
}

#footer-h2 {
    font-size: 33px;
    font-weight: 500;
    padding: 0px;
    margin: 0px 0px 12px 0px;
}

#footer-info {
    font-size: 24px;
    color: #DDDDDD;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 0px;
}

.footer-par{
    padding: 0px;
    margin: 13px 0px 0px 0px;
    transition: transform 0.6s ease;
}

.footer-par:hover {
    transform: scale(1.12);
}

a {
    text-decoration: none;
    color: inherit;
}


@media (max-width: 375px) {
    body {
        margin: 18px 43px;
    }

    h2 {
        font-size: 14px;
    }

    /* header */

    .profile-image {
        width: 147px;
        height: 137px;
        border-radius: 12px;
    }

    h1  {
        font-size: 16px;
    }

    .intro-paragraph {
        font-size: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .intro-section {
        max-width: 143px;
        padding: 18px 12px;
        max-height: 147px;
        border-radius: 12px;
    }

    .header-section {
        gap: 7px;
    }
    /* Proficiency section */

    .proficiency-section {
        max-width: 318px;
        height: 177px;
        border-radius: 12px;
        margin: 15px 0px;
    }

    .proficiency-container {
        padding: 12px 12px 23px 12px;
        max-height: 177px;
    }

    .levels {
        gap: 20px;
        font-size: 10px;
        margin: 10px 0px;
    }

    .technologies {
        font-size: 10px;
        padding: 0px;
        margin: 0px 0px 10px 0px;
        
    }

    .tech-name {
        padding: 0px;
        margin: 0px 0px 6px 0px;
    }

    .react{
        margin-bottom: 0px;
    }

    #HTML, #CSS {
        width: 131px;
        height: 11px;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    #javascript {
        width: 30px;
        height: 11px;
        border-radius: 3px; 
        margin-bottom: 12px;
    }

    #react {
        width: 10px;
        height: 11px;
        border-radius: 3px; 
        margin: 0px;
    }

    .proficiency-levels {
        gap: 17px;
    }

    .proficiency-and-skills {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    /* Skills */

    .skill-section {
        max-width: 294px;
        height: auto;
        border-radius: 12px;
        padding: 12px;
        margin: 0px 0px 15px 0px;
    }

    .skill-btn {
        padding: 4px 10px;
        border-radius: 96px;
        font-size: 10px;
        margin-bottom: 8px;
        margin-left: 8px;
    }

    #skill-h2 {
        margin: 12px 0px 16px 12px;
    }

    /* Projects */

    .project-section {
    border-radius: 12px;
    max-width: 291px;
    padding: 0px 16px;
}

    #project-h2 {
        text-align: start;
        padding: 16px 0px 10px 0px;
    }

    .project-h3 {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }

    .project-name {
        padding: 10px 0px 0px 0px;
    }
    .heart-img {
        width: 13px;
        height: 12px;
    }
    .project-line-one {
        display: flex;
        justify-content: space-between;
    }

    .project-card {
        max-width: 260px;
        height: auto;
        border-radius: 30px;
        background-color: var(--light-green);
        padding: 19px 19px 0px 19px;
        margin-bottom: 44px;
        transition: transform 0.6s ease;
    }

    .project-card:hover {
        transform: scale(1.1);
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;
        gap: 49px;
    }

    .project-one {
        background-color: var(--dark-green);
        color: white;
    }


}